extends ./main.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container
        header.header
          a.logo(href="#") ВА
          nav.menu
            - var menuItems = ["Обо мне", "Навыки", "Работы", "Отзывы"]
            ul.menu__list
              each item in menuItems
                li.menu__item
                  a(href="#").menu__link #{item}
          - var socials =["insta", "vk", "github", "envelope"]
          ul.socials
            each item in socials
              li.socials__item
                a(href="#").socials__link
                  +icon(item, "socials__icon")
        
        .userinfo
          .userinfo__title Личный сайт #[br] веб разработчика
          .userinfo__name Владимир Астаханов

        .hero__downbutton
          .scroll-down
            a(href="#").scroll-down__btn Скролл
    section.about
      .container
        .about__columns
          .about__user
            .user
              .user__avatar
                .user__avatar-wrapper
                  +image('content/user.jpg', 'user__avatar-pic')
              .user__about
                - 
                  var userinfo = [
                    ['Проживаю:', "Новосибирск"],
                    ['Возраст:', "27 лет"],
                    ['Родился:', "1 января 1991"],
                  ];
                table.user__table
                  each item in userinfo
                    tr
                      td.user__table-title #{item[0]}
                      td.user__table-content #{item[1]}
          .about__user-text
            .about__main-text-content
              .about__desc Привет, меня зовут
              .about__title Владимир Астаханов
              .about__text-info
                p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__ps
              | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

  .triangles.triangles_top
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
      polygon(points="0,0 0,100 1000,100")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
      polygon(points="0,100 1000,100 1000,0")

  .middle-section
    section.values
      .container.values__container
        .values__wrapper
          .values__title
            .values__title-container
              .values__title-text Чем я могу быть полезен вам
              .values__content
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          .values__widget
            .values__widget-container
              - 
                var skillsCategories = [
                  ["Frontend", ["HTML5", "CSS3", "Javascript", "Vue.js"]],
                  ["Workflow", ["GIT", "Terminal", "Gulp", "Webpack"]]
                ];

              ul.skills
                each category in skillsCategories
                  li.skills__item(v-for="category in categories")
                    .skills-row
                      .skills-row__title #{category[0]}
                      ul.skills-row__list
                        each skill in category[1]
                          li.skills-row__item
                            .skill
                              svg(viewBox="0 0 100 100").skill__circle-shape
                                circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
                                circle(cx="50" cy="50" r="40" stroke="url(#gradient)" transform='rotate(180 50 50)').skill__circle.skill__circle_above
                                linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                                  stop(offset="0%" stop-color="#5500f2")
                                  stop(offset="100%" stop-color="#8f00ef")
                              .skill__circle-text #{skill}